In [28]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
mouse_data_csv = "data/mouse_drug_data.csv"
clin_data_csv = "data/clinicaltrial_data.csv"

# Read the Mouse and Drug Data and the Clinical Trial Data
mouse_df = pd.read_csv(mouse_data_csv)
clinical_df = pd.read_csv(clin_data_csv)
clinical_df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [50]:
# Combine the data into a single dataset
df = mouse_df.merge(clinical_df,on="Mouse ID")

# Display the data table for preview
df.head()

  Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     f234  Stelasyn          0           45.000000                 0
1     f234  Stelasyn          5           47.313491                 0
2     f234  Stelasyn         10           47.904324                 0
3     f234  Stelasyn         15           48.735197                 1
4     f234  Stelasyn         20           51.112713                 2

## Tumor Response to Treatment

In [30]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 
tumor_gb = df.groupby(["Drug","Timepoint"]).agg({"Tumor Volume (mm3)":"mean"})

# Convert to DataFrame
tumor_df = pd.pivot_table(tumor_gb, values='Tumor Volume (mm3)', index='Timepoint',columns='Drug')
tumor_df
# Preview DataFrame
tumor_df.head()

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000
5,44.266086,46.503051,47.062001,47.389175,46.796098,47.125589,47.248967,43.944859,47.527452,46.851818
10,43.084291,48.285125,49.403909,49.582269,48.694210,49.423329,49.101541,42.531957,49.463844,48.689881
15,42.064317,50.094055,51.296397,52.399974,50.933018,51.359742,51.067318,41.495061,51.529409,50.779059
20,40.716325,52.157049,53.197691,54.920935,53.644087,54.364417,53.346737,40.238325,54.067395,53.170334

In [31]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint

# Convert to DataFrame

# Preview DataFrame

In [32]:
# Minor Data Munging to Re-Format the Data Frames

# Preview that Reformatting worked

In [33]:
# Generate the Plot (with Error Bars)

# Save the Figure

In [34]:
# Show the Figure
plt.show()

## Metastatic Response to Treatment

In [35]:
# Store the Mean Met. Site Data Grouped by Drug and Timepoint 
metsite_gb = df.groupby(["Drug","Timepoint"]).agg({"Metastatic Sites":"mean"})
# Convert to DataFrame
metsite_df = pd.pivot_table(metsite_gb, values='Metastatic Sites',index='Timepoint',columns='Drug')
metsite_df.head()

# Preview DataFrame

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.160000,0.380952,0.280000,0.304348,0.260870,0.375000,0.320000,0.120000,0.240000,0.166667
10,0.320000,0.600000,0.666667,0.590909,0.523810,0.833333,0.565217,0.250000,0.478261,0.500000
15,0.375000,0.789474,0.904762,0.842105,0.857143,1.250000,0.764706,0.333333,0.782609,0.809524
20,0.652174,1.111111,1.050000,1.210526,1.150000,1.526316,1.000000,0.347826,0.952381,1.294118

In [36]:
# Store the Standard Error associated with Met. Sites Grouped by Drug and Timepoint 

# Convert to DataFrame

# Preview DataFrame

In [37]:
# Minor Data Munging to Re-Format the Data Frames

# Preview that Reformatting worked

In [38]:
# Generate the Plot (with Error Bars)

# Save the Figure

# Show the Figure

## Survival Rates

In [39]:
# Store the Count of Mice Grouped by Drug and Timepoint (W can pass any metric)
mice_count = df.groupby(["Drug","Timepoint"]).agg({"Mouse ID":"count"})
# Convert to DataFrame
mice_df = pd.pivot_table(mice_count, values='Mouse ID',index='Timepoint',columns='Drug')

# Preview DataFrame
mice_df.head()

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,25,25,25,25,25,25,26,25,26,25
5,25,21,25,23,23,24,25,25,25,24
10,25,20,21,22,21,24,23,24,23,22
15,24,19,21,19,21,20,17,24,23,21
20,23,18,20,19,20,19,17,23,21,17

In [40]:
# Minor Data Munging to Re-Format the Data Frames

# Preview the Data Frame

In [41]:
# Generate the Plot (Accounting for percentages)

# Save the Figure

# Show the Figure
plt.show()

## Summary Bar Graph

#### To come up with this section, I need to first come up with the initial and final volume to determine the percentage change

In [59]:
# Calculate the percent changes for each drug
Drugs = []
i = 0
for i in df['Drug']:
    if i not in Drugs[i]:
        Drugs.append[i]
    next

print(df['Drug'])
# Display the data to confirm

TypeError: list indices must be integers or slices, not str

In [ ]:
# Store all Relevant Percent Changes into a Tuple


# Splice the data between passing and failing drugs


# Orient widths. Add labels, tick marks, etc. 


# Use functions to label the percentages of changes


# Call functions to implement the function calls


# Save the Figure


# Show the Figure
fig.show()